.footer {
  background: var(--accent);  
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
}

.footer p {
  margin: 0.3rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contact h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #acc5df;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.contact-links a {
  text-decoration: none;
  color: #bdcfe0;
  font-weight: bold;
  display: flex;

  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s;
}

.contact-links a:hover {
  color: #0077b5;
}
 @media (max-width: 768px) {
   .footer-content {
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 1rem;
   }
 }
  
 