.services {
  padding: 4rem 2rem;
  background: var(--bg);
  max-width: 1200px;
  margin: 0 auto;
}

.services h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 3rem;
  color: var(--accent);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  
}

.service-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: center; */
  height: 100%;
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.service-card h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--accent);
}

.service-card p {
  font-size: 1rem;
  color: var(--text);
  margin-bottom: 1rem; 
  flex-grow: 1; /* Растягиваем текст, чтобы он занимал всю доступную высоту */
  /* text-align: center; */
}

.service-card button {
  background: var(--accent);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-top: auto;
  margin-bottom: 1rem;
  align-self:center;
}
.service-card button:hover {
  background: var(--accent-hover);
}
 .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.modal h2 {
  margin-bottom: 1rem;
  color: var(--accent);
}
.modal h3 {
  margin-bottom: 1rem;
  color: var(--text);
}
.modal p {
  margin-bottom: 2rem;
  color: var(--text);
}
.modal-close {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  background: transparent;
  color: var(--text);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.1rem 0.5rem;
  border-radius: 40px;
}
.modal-ok {
  background: var(--accent);
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}
.modal-ok:hover {
  background: var(--accent-hover);
}

@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
  .modal{
    padding: 1rem;  
  }
  .modal h2 {
    font-size: 1.2rem;
  }
  .modal h3 {
    font-size: 1rem;
  }
  .modal p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .modal-close {
    font-size: 0.8rem;
  }
  .modal-ok {
    font-size: 0.3rem;
  }

}