:root {
  --bg: #ffffff;
  --text: #2c3e50;
  --accent:#164716;       /* зелёный акцент */
  --accent-hover: #0c151071; /* тёмно-зелёный при наведении */

  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
}

h1, h2, h3 {
  font-weight: 600;
  color: var(--text);
  margin-top: 0;
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: none;
}
a:hover {
  color: var(--accent-hover);
}

button {
  border-radius: 6px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--accent-hover);
}
button:focus,
button:focus-visible {
  outline: 3px solid var(--accent-hover);
}



